.image{
    width: 278px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-inline: auto;
    
}
.image-profile{
    width: 33px;
    border: solid 1px white;
    border-radius: 100px;
}