@use '../mixins/resposive.scss' as *;

.main {
  width: 327px;
  height: 543px;
  border-radius: 15px;
  background-color: var(--dark-blue-card-bg);
  margin-top: 50px;
  margin-inline: auto;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include responsive(desktop) {
    width: 350px;
    height: 596px;
  }
}
